*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Dokdo";
}

:root {
    --app-height: 100%;
}

body{
    background-color: #e0f5ff;
    background-image: linear-gradient(#e0f5ff, #dbfdff7e);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: fixed;
}

.backButton{
    position: absolute;
    width: 15%;
    height: auto;
    top: 10px;
    left: 10px;
}

.back{
    position:absolute;
    top: 20%;
    height: 150px;
    width: 90%;
    padding: 8% 0%;
    padding-top: 2%;
    background-image: url("./img/helpBackground.png");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back p {
    font-family: 'Open Sans', sans-serif;
    color: #674328;
    font-size: 18px;
    font-weight: 800;
}

.table{
    width: 150%;
}


.detail p{
    font-size: 18px;
}

.highlight{
    margin: 0px;
    margin-bottom: -10px;
    font-size: 40px;
    color:white;
}

.card-container{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    width: 9.25em;
    height: 9.25em;
}
.image{
    position: absolute;
    width: 30vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: auto;
    left: -1%;
}
.card-before,
.card-after{
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-before{
    z-index: 10;
}
.card-after{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 2%;
}
.starImage{
    width: 85%;
}
button{
    border: none;
    border-radius: 0.5em;
    padding: 0.3em 0.7em;
}
.hide{
    display: none !important;
    visibility: hidden;
}

.hidden{
    visibility: hidden;
}

.start, .game, .howToPlay, .final{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    height: var(--app-height);
    align-items: center;
    flex-direction: column;
    height: auto;
    text-align: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.start{
    background-position: center;
    position: relative;
    justify-content: center;
    background-image: url("./img/startBackground.png");
    z-index: 10;
}

.game{
    background-position: center;
    justify-content: flex-end;
    position: relative;
    background-image: url("./img/gameBackground.png");
}

.final{
    justify-content: top;
    background-image: url("./img/loseBackground.png");
    background-position: top;
}



.title{
    margin: 50px auto;
    width: 60%;
    height: auto;
}

.game-title{
    margin: 50px auto;
    width: 50%;
    height: auto;
}

.preview{
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.startButton, .playAgain, .home{
    width: 100%;
    position: relative;
    align-self: center;
    background-color: #ED683B;
    border: 0px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 20px;
    padding: 15px 30px;
    margin-bottom: 15px;
    color: white;
}

.startButton{
    margin-top: 450px;
}

.home{
    background-color: #12BCC2;
}

/*.startButton:active,.playAgain:active,.home:active{
    animation: animate 0.2s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg) translateX(0px);
    }
    25%{
        transform: rotate(-20deg) translateX(-10px);
    }
    50%{
        transform: rotate(0deg) translateX(0px);
    }
    75%{
        transform: rotate(20deg) translateX(10px);
    }
    100%{
        transform: rotate(0deg) translateX(0px);
    }
}*/
.instruction{
    width: 100%;
    height: 100px;
    background-color: #FFE2A3;
    color: #ED683B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.instruction{
    position:absolute;
    top: 35%;
}

.show{
    width: 100%;
    margin-bottom: -10px;

    font-size: 55px;
    margin-top: 40px;
}

.additional{
    font-size: 18px;
    color: #8B5E3C;
    margin-bottom: 270px;
}
.additional p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.maidText {

    background-color: transparent !important;;
    box-shadow: 0px 8px transparent !important;;
}

.startButton p, .playAgain p, .home p {
    margin: 3%;
    margin-right: 6%;
}

.words{
    font-size: 30px;
    width: 100%;
    margin: 0 !important;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 500;
}

.arrowHead{
    margin-right: 10px;
    max-width: 15px;
}

.game-container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60%;
    position: absolute;
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.card-replace{
    width: 500px;
    height: 250px;
}

.instruction-container{
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 30px;
    justify-content: center;
}
.instruction-container p{
    color: white;
}

.card1,
.card2,
.card3{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vmin;
    height: 30vh;
}
.card1{
    z-index: 10;
}
.card2{
    z-index: 5;
}
.card3{
    z-index: 0;
}

.instruction-container{
    margin-top: 300px;
    font-size: 50px;
}



  /*mobile*/
  @media screen and (max-width: 767px){
    .startButton, .playAgain, .home{
    width: calc(100% - 70px);
    justify-content: center;
    align-items: center;
    }
  }

/*ipad*/
@media screen and (min-width: 768px) and (max-width: 1199px){
    .preview{
        width: 70%;
    }
    .startButton, .playAgain, .home{
        max-width: 500px;
    }
    .startButton{
        margin-top: 900px;
    }
    .words{
        font-size: 60px;
    }
    .back{
        top: 20%;
        height: 300px;
    }
    .highlight{
        font-size: 60px;
    }
    .detail p{
        font-size: 45px;
    }
    .card1,.card2,.card3{
        width:40vmin
    }
    .card-container{
        width: 30vmin;
        height: 26vh;
    }
    .instruction{
        top: 20%;
        font-size: 60px;
        height: 200px;
    }
    .show{
        margin-top: 120px;
    }
    .additional{
        margin-bottom: 550px;
        font-size: 30px;
    }
    
}

/*desktop*/
@media screen and (min-width:1200px){
    body{
      width: 100%;
    }
    .start,.game,.game-container, .final,.table{
        max-width: 400px;
        margin: 0 auto;
    }
    .preview{
        max-width: 300px;
        margin: 40px auto;
    }
    .start, .final, .game{
      left: 0;
      right: 0;
    }
    .card1,.card2,.card3{
        width:20vmin
    }
    .image{
        width: 100%;
    }
    .startButton, .playAgain, .home{
        max-width: 250px;
    }
    .startButton{
        margin-top: 450px;
    }
    .show{
        margin-top: 50px;
    }
    .back{
        top: 20%;
    }
}

@media screen and (max-width:767px){
    .endTitle {
      display: none;
    }
  }